@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-royal-blue: #1e3a8a; /* Deep blue */
  --color-royal-gold: #fbbf24; /* Amber/Gold */
  --color-royal-dark: #0f172a; /* Slate 900 */
}

@layer base {
  html {
    font-family: 'Outfit', sans-serif;
  }
  body {
    @apply bg-slate-50 text-slate-900 transition-colors duration-300 dark:bg-slate-950 dark:text-slate-100;
  }
}

